*.egg-info
*.mo
*.pyc
*.log
*.pid
*.err
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
webservice-json.wsgi
bin/*
!bin/daemon-*
!bin/webservice-test
devel/
develop-eggs/
parts/
var/
buildout-cache/
include/
lib/
local/
